.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid-five-column {
    grid-template-columns: repeat(4, 1fr) 0.3fr;
    text-align: center;
    align-items: center;
  }
  .section-cart{
    padding: 9rem 0;
  }
  
  .cart-heading {
    text-align: center;
    text-transform: uppercase;
  }
  .container-cart{
    width: 100%;
    padding: 0rem 12rem;
  }
  
.hr-cart{
    margin-top: 1rem;
    width: 100%;
   
  }
  
  .cart-item {
    padding: 3.2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  
  .cart-user--profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 5.4rem;
  }
  
  .cart-user--profile img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  
  .cart-user--profile h2 {
    font-size: 2.4rem;
  }
  
  .cart-user--name {
    text-transform: capitalize;
  }
  
  .cart-image--name {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.4fr 1fr;
    text-transform: capitalize;
    text-align: left;
  }
  
  .cart-image--name img {
    max-width: 5rem;
    height: 5rem;
    object-fit: contain;
    color: transparent;
  }
  
  .cart-image--name .color-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
  
  .cart-image--name .color-div .color-style {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
  }
  
  .cart-two-button {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  .cart-two-button .btn-clear {
    background-color: #e74c3c;
  }
  
  .amount-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.4rem;
  }
  
  .amount-toggle button {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  .amount-toggle .amount-style {
    font-size: 2.4rem;
    color: #000000;
  }
  
  .remove_icon {
    font-size: 1.6rem;
    color: #e74c3c;
    cursor: pointer;
  }
  
  .order-total--amount {
    width: 100%;
    margin: 4.8rem 0;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .order-total--amount .order-total--subdata {
    border: 0.1rem solid #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 3.2rem;
  }
  
  .order-total--amount div {
    display: flex;
    gap: 3.2rem;
    justify-content: space-between;
  }
  
  .order-total--amount div:last-child {
    background-color: #fafafa;
  }
  
  .order-total--amount div p:last-child {
    font-weight: bold;
    color:black ;
  }
  .empty{
    display: grid;
    place-items: center;
    height: 50vh;
  }
  .empty-h{
     font-size: 4.2rem;
     text-transform: capitalize;
     font-weight: 300;
  }
  
  /* @media (max-width:  {
    .grid-five-column {
      grid-template-columns: 1.5fr
    }
} */