
  
  .grid {
    gap: 3.2rem;
  }
  
  figure {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all 0.5s linear;
  }
  
  figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear;
    cursor: pointer;
  }
  
  figure:hover::after {
    width: 100%;
  }
  
  figure:hover img {
    transform: scale(1.2);
  }
  
  .list-img {
    max-width: 90%;
    margin-top: 1.5rem;
    height: 20rem;
    transition: all 0.2s linear;
  }
  
  .card {
    border: 0.1rem solid rgb(170 170 170 / 40%);
  }
  
  .card-data {
    padding: 0 2rem;
  }
  
  h3 {
    margin: 2rem 0;
    font-weight: 300;
    font-size: 2.4rem;
    text-transform: capitalize;
  }
  
  .btn1 {
    margin: 2rem 0;
    background-color: rgb(0 0 0 / 0%);
    border: 0.1rem solid rgb(98 84 243);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(98 84 243);
  }
  
  .btn1:hover {
    background-color: #FF4858;
  }
  
  .btn:hover a {
    color: #fff;
  }
  
  .btn a {
    color: rgb(98 84 243);
    font-size: 1.4rem;
  }
  
  .btn-main .btn:hover {
    color: #fff;
  }
  